html {
    font-size: 10px; /* px quiere decir 'pixels': la base del tamaño de fuente es ahora de 1o pixeles*/
    font-family: 'Source Sans Pro', sans-serif; /*Este debe ser el resto del resultado que obtuviste de Google fonts*/
}
  
h1 {
    font-size: 60px;
    text-align: center;
}
  
p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: orange;
  }

body {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;    
    color: orange;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}